<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<% @messages.each do |message| %>
  <center>
    <div class="well" style="max-width: 500px">
      <p><%= message.body %> from <%= message.user.display_name %></p>
    </div>
  </center>
<% end %>

<br>


<%= link_to 'New Message', new_message_path %>